* {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: #666;
    font-size: 14px;
    line-height: 1.5;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
    color: #262626;
}

@media screen and (max-width: 768px) {
    .header__box--center {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .logo {
        width: 100%;
        height: 100px;
        margin: 0;
    }

    .logo a {
        height: 100px;
    }
  }

.header__box--center {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 220px;
    height: 60px;
    margin: 16px 0;
    padding: 0;
}

.logo a {
    width: 220px;
    height: 60px;
    display: block;
    background: url(/image/Illustration4.png) no-repeat;
    background-size: 100%;
}

.search {
    margin-top: auto;
    margin-bottom: 16px;
    width: 360px;
    position: relative;
    float: left;
}

/* .search p {
    float: left;
    margin: 0;
    overflow: hidden;
    width: 320px;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-right: none;
}

.search__searchbox {
    font-size: 14px;
    width: 350px;
    height: 40px;
    border: 0;
    outline: 0;
    padding-left: 12px;
} */

/* .search__btn {
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #3e98a1;
    line-height: 1;
}

.search__btn:hover {
    background-color: red;
} */

/* .search__btn--icon {
    display: block;
} */

.search__btn--icons {
    font-size: 16px;
    color: #fff;

}

.btn--search-color {
    background-color: #077c86;
}

.btn--search-color:hover {
    background-color: #3e98a1;
}

.login {
    overflow: hidden;
    width: 170px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-top: auto;
    margin-bottom: 16px;
}

.login a {
    width: 120px;
    font-size: 16px;
    opacity: 0.5;
    margin-top: auto;
    margin-bottom: 0;
}

.login i {
    font-size: 18px;
    padding-left: 3px;
}

.login a:hover {
    color: black;
    opacity: 1;
}

.modal--icon {
    padding-right: 10px;
}

.navbar {
    background-color: #3e98a1;
    height: 40px;
    padding: 0;
}

.navbar__main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3e98a1;
}

ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item--trangchu {
    width: 280px;
    margin-right: 30px;
    cursor: pointer;
    background-color: #077c86;
}

.nav-item--trangchu span, .fa-list {
    font-size: 16px;
    display: block;
    color: #fff;
    background-color: #077c86;
    margin: 6px 0;
}

.nav-item--trangchu span {
    padding-left: 18px;
}

.fa-list {
    padding-right: 10px;
}

.navlist--item {
    padding: 6px 32px !important;
    color: white !important;
    font-size: 16px;
    font-weight: 500;
}

.navlist--item:hover {
    background-color: #077c86;
    color: white;
}

/* .fa-mobile-screen {
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    padding-right: 10px;
} */

/* phần chỉnh sửa cho Tải xuống 

*/

.index__one, .index__two, .index__three, .index__four, .index__five, .index__banner {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.index__theloai, .index__tintuc {
    width: 280px;
    padding-top: 10px;
}

.index__theloai--chitiet-cot1, .index__theloai--chitiet-cot2 {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.index__theloai--chitiet-cot1:hover, .index__theloai--chitiet-cot2:hover {
    background-color: #077c86;
    color: #fff;
}

.index__theloai--chitiet-cot1 a, .index__theloai--chitiet-cot2 a {
    color: inherit;
}

.index__theloai--chitiet-cot1 i, .index__theloai--chitiet-cot2 i {
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: inherit;
}

.index__theloai--chitiet-cot1 i:nth-of-type(2), .index__theloai--chitiet-cot2 i:nth-of-type(2) {
    padding-left: 5px;
}

.index__slider {
    width: 920px;
    padding-top: 10px;
    padding-right: 0;
}

.carousel-inner {
    border-radius: 5px;
}

.index__tintuc {
    padding-top: 10px;
}

.index__notice h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.odd {
    background-color: #f0f0f0;
}

.list-group a {
    padding-left: 5px;
}

.list-group a:hover {
    color: red;
}

.index__two, .index__three, .index__four, .index__five {
    margin: 30px auto;
}

.index__truyenmoi {
    padding: 0;
}

.index__truyenmoi--chuong {
    float: right;
    opacity: 0.5;
}

.list-group-horizontal a {
    padding: 0;
    font-size: 20px;
    font-weight: 600;
}

.total cite, .total i{
    color: red;
}

.total cite {
    font-size: 16px;
}

.index__ranklist {
    padding: 0 10px;
}

.index__ranklist--title {
    color: black;
}

.index__ranklist--title a {
    float: right;
}

.index__truyenmoi--title, .index__truyenhoanthanh--title {
    padding: 0;
}

.card-img-top {
    height: 200px;
}

.card-title a {
    font-size: 20px;
    font-weight: 600;
}

.index__truyenmoito--theloai, .index__truyenmoito--theloai {
    font-size: 18px;
}

.index__truyenmoito--sochuong, .index__truyenmoito--sochuong {
    font-size: 16px;
}

.index__truyenmoito--gioithieu, .index__truyenmoito--gioithieu {
    font-size: 14px;
}

.index__truyenmoito--list {
    padding-bottom: 10px;
}

.book--info a {
    font-size: 18px;
    font-weight: 600;   
}

.book--info p {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.book-state a {
    font: 16px;
    font-weight: lighter;
}

.footer--container {
    background-color: #f8f8f8;
    margin-top: 10px;
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    color: #4e4e4e;
}

.footer--inside-container {
    width: 1200px;
    margin: 0 auto;
}

.footer--text {
    opacity: 0.7;
}

.banner-sm {
    height: 100px;
    width: 100%;
}

.book--imgcss {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.special {
    border: none;
}

/*css for go to top button*/

.myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #3e98a1; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
  
.myBtn i {
    display: block;
    color: white;
    font-size: 20px;
}

.myBtn:hover {
    background-color: #bdbdbd; /* Add a dark-grey background on hover */
}